
.section-row {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;    
}

.profile-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.profile-card button{
   width: 100%;
   font-size: 18px;
   background-color: #a9a9a9;
   border: none;
   padding: 5px;
   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.profile-card button a{
   text-decoration: none;
   color: #000;

}

.logout-button{
  background-color: #e8491d; 
}

h1 {
  text-align: center;
}

.dish-container-wrapper{
  padding-left: 10%;
}

.food-menu-container{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.food-menu-box{
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: #fff;
  align-items: center;
  justify-content: center;
}

.section-row-2 {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    display: flex;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 3em;
}