

.container2 {
	background-color: #f4f4f4;
	width: 40%;
	margin: 5% 0 10% 30%;
	overflow: hidden;
	padding: 30px;
}

.container2 h1{
	padding: 10px;
	font-size: 40px;
	text-align: center;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

button {
    
    
    padding: 14px 20px;
    margin: 0 0 0 20px;
    border: none;
    cursor: pointer;
    width: 70%;
    opacity: 0.9;


}

button:hover {
    opacity:1;
}

.register-footer {
    background: transparent;
    padding: 10px;
    height: 60px;
    color: #fff;
}