
body {
  display: flex;
  min-width: 100vh;
  background: #fff;
  flex-direction: column;
  margin: 0;
}

.wrapper{
   display: flex;
   
  
}

.container {
  flex-wrap: wrap;
  display: flex;
  width: 100%

}

.main {
  flex-wrap: wrap;
  display: flex;
  width: 100%

}

.box {
   display: grid;
}

ul{
	padding: 0;
	margin: 0;
}

header {
	background: #000;
	color: #fff;
	border-bottom: #e8491d 2px solid;
	margin-top: -2px;
	width: 100%;
	padding: 0 0 0 6%;
	
}

header a{
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}

header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #appName{
	float: left;
}

header #appName h1{
	margin: 0;
}

header nav{
	float: right;
	font-family: 'Century Gothic';
	margin: 40px 0 0 0;
}

#showcase {
	min-height: 400px;
	background: url('../images/foodimages/meal14.jpg');
	/*background-size: cover;*/
}

section {
  display: flex;
  flex-wrap: wrap;
}